#container {
    text-align: center;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  #container .card{
    overflow: hidden;
  }
  .background{
    position: fixed;
    top: -50vmin;
    left: -50vmin;
    width: 100vmin;
    height: 100vmin;
    border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
    background:#65c8ff;
  }
  .background::after{
    content:"";
    position: inherit;
    right: -27vmin;
    bottom: -22vmin;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: #143d81;
  }
  .card{
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 0px;
    padding: 170px 30px 54px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 100px 100px rgb(0 0 0 / 20%);
  }
  .card::before{
    content: "";
    position: absolute;
    top: -855px;
    left: 160px;
    translate: -50% 0;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: #fffaeb;
  }
  
  @media(width >= 500px){
    .card{
      margin:0; width: 360px;
    }
  }
  .card .logo{
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50% 0;
    width: 100px;
    height: 100px;
  }
  .card > h2{
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 30px;
    color: #2a3444;
  }
  .card > footer{color: #a1a1a1;}
  .card > footer > a{color: #216ce7;}
  
  .form{
    display: grid;
    gap: 16px;
    margin: 0 0 36px;  
  }
  
  .form > input, .form > button{
    width: 100%;
    height: 56px;
    border-radius: 28px;
  }
  .form > input{
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 16px;
    padding: 0 24px;
    color: #11274c;
  }
  .form > input::placeholder{
    color: #cac8c8;
  }
  .form > button{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #c59904;
    color: #f9f9f9;
    border: 0;
    font-family:inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }